<form action="" method="POST" name="blogForm">
  <table>
    <tr>
      <td colspan="2">
        <h1>Algorithm Time Complexity Estimator</h1>
      </td>
      <td></td>
    </tr>
    <tr>
      <td><label>Type or Paste your Java Code Here</label></td>
      <td><textarea [(ngModel)]="body" name="body" placeholder="Type or Paste your Java Code Here.     "></textarea>
      </td>
    </tr>
    <tr>
      <td align="center" colspan="4">
        <button (click)="estimateAlgo()" type="submit" value="Submit">Submit</button>
      </td>
    </tr>
    <br>
    <br>
    <label for="name">This Algorithm Complexity seems to be of :   {{name}}</label>
  </table>
</form>